<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
    <!-- Agrega tus enlaces CSS, JavaScript y otros recursos aquí -->
</head>
<body>
    <header>
        <!-- Aquí puedes colocar tu encabezado o barra de navegación -->
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/formulario-contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <!-- Aquí puedes colocar tu pie de página, información de contacto, etc. -->
    </footer>
</body>
</html>
