{% extends 'base.html.twig' %}

{% block title %}Formulario Enviado con Éxito{% endblock %}

{% block body %}
    <h1>Formulario Enviado con Éxito</h1>
    <p>Tu formulario de contacto ha sido enviado con éxito. Gracias por contactarnos.</p>
    <a href="{{ path('formulario_contacto') }}">Volver al formulario</a>
{% endblock %}
