{% extends 'base.html.twig' %}

{% block title %}Formulario de Contacto{% endblock %}

{% block body %}
    <h1>Formulario de Contacto</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
